* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Roboto", sans-serif;
  color: #4e4e4e;
  background-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

/************************************JS cursor blink removal************************************/
.typed-cursor {
  display: none;
}

/*******************************************NavBar Section*****************************************/
 /*nav {
  z-index: 999; 
}*/
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}

.nav-item a {
  display: inline-block;
  padding-bottom: 13px;
}
.nav-item > a.active::after,
.nav-item > a::after {
  position: absolute;
  content: "";
  bottom: 10%;
  left: 0%;
  height: 3px;
  background-color: #fff;
  transform: translate(0%, -10%);
  transition: width 500ms ease;
}

.nav-item > a.active::after {
  width: 40%;
}

.nav-item > a::after {
  width: 0%;
}

.nav-item > a:hover::after {
  width: 40%;
}
/*************************************************************************************************/
/*******************************************Header Section*****************************************/

.home__container {
  background-image: url(../img/intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  /* margin-top: 60px; */
  color: #fff;
}

.home__bgLayer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.home__title {
  font-size: 4.5rem;
}

.home__desc {
  font-size: 2.5rem;
  border-right: 2px solid #fff;
  width: fit-content;
  pointer-events: none;
}

/*************************************************************************************************/
/*******************************************About Section*****************************************/

#about {
  padding-block: 4rem;
}

.about__container {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6), 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

.linedTitle__sub {
  font-size: 32px;
  color: #1e1e1e;
  text-transform: capitalize;
  position: relative;
}

.linedTitle__sub::after {
  background-color: #0078ff;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  bottom: -20%;
  left: 0;
  /*To make it at the center exactly without counting the size of the Element*/
  /* transform: translate(-50%, 0); */
}

.about__img {
  width: calc(100% - 30px);
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

.about__img img {
  border-radius: 0.25rem;
  margin-left: 10px;
}

.item__list > b {
  color: #1e1e1e;
  font-size: 1.1rem;
}

.aboutD__list {
  width: 50%;
}

.aboutD__list p {
  display: inline-block;
}

.skills__container {
  width: calc(100% - 50px);
  margin: auto;
}

.aboutTitle__sub {
  color: #1e1e1e;
  font-size: 1.1rem;
}

.about__desc {
  font-size: 1.25rem;
  font-weight: 300;
}

/*************************************************************************************************/
/*******************************************Services Section*****************************************/
.services__title {
  font-size: 3rem;
  columns: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
}

.services__line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.services__container,
.blog__container {
  max-width: 75rem;
}

.services__column {
  background-color: #fff;
  max-width: calc(100% - 1.1rem);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  height: 100%;
  border-radius: 1rem;
  padding: 2.5rem 1.3rem;
}

.service__icon,
.serviceCounter__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
}

.serviceCounter__icon {
  background-color: transparent;
  border: 0.5rem solid #fff;
  color: #fff;
}

.service__icon {
  border: 0.5rem solid #0078ff;
  transition: all 500ms ease;
  color: #1e1e1e;
}

.services__column:hover .service__icon {
  color: #fff;
  background-color: #0078ff;
  border-color: #cde1f8;
}

.service__title {
  font-weight: 500;
  padding: 0.4rem 0;
  font-size: 1.4rem;
  color: #1e1e1e;
}

.counter__container {
  background-image: url(../img/counters-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.counterCountainer__wrap {
  padding-block: 6.25rem;
}

.counter__desc {
  font-size: 1rem;
}

/*************************************************************************************************/
/*******************************************Portfolio Section*****************************************/

.testimon__container {
  background-image: url(../img/overlay-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.portfolio__container .card {
  cursor: pointer;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.portfolio__container .card img {
  transition: transform 0.8s ease;
}

.portfolio__container .card:hover img {
  transform: scale(1.3);
}

.zoomify {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.zoomify::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* background-image: url("https://images.unsplash.com/photo-1528763216729-fb67cba479db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=728e3916b52b079634aa7c7f82af612d&auto=format&fit=crop&w=6774&q=80%206774w,%20https://images.unsplash.com/photo-1528763216729-fb67cba479db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=728e3916b52b079634aa7c7f82af612d&auto=format&fit=crop&w=6774&q=80%206774w"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: background-position;
}

.portfolio__container .card-title {
  font-size: 1.2rem;
}

.portfolio__container .card-text {
  font-size: 0.8rem;
}

.portfolio__container .modal__btn {
  border-radius: 50%;
}

.slide__item {
  height: 500px;
}

.slide__img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.review__img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}

.review__text {
  max-width: 75%;
  font-size: calc(16px + 0.3vw);
}

.test__icon {
  width: fit-content;
}

.carousel-inner .carousel-item > img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  text-align: center;
  margin: auto;
}

.modal-content{
  background-color: #E0E2E3;
}

.modal-footer{
  justify-content: start;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

.modal-header{
  background-color: rgba(255, 255, 255, 0.1);
}

/*************************************************************************************************/
/*******************************************Blog Section*****************************************/
#blog {
  padding-bottom: 72px;
}

.card__blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.blog__data {
  flex-grow: 2;
}

.cardInfo__desc {
  width: calc(100% - 30%);
}

.card__img {
  min-width: 40px;
  object-fit: cover;
  width: 20%;
}

.card__img > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
}

.card__label {
  font-size: 0.7rem;
  left: 50%;
  transform: translate(-50%, -100%);
}

/*************************************************************************************************/
/******************************************Contact Section*****************************************/

#contact {
  background-image: url(../img/overlay-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 150vh;
  font-size: 1rem;
}

.contactBG__layer,
.testBG__layer {
  background-color: rgba(0, 120, 255, 0.5);
  height: 100%;
}

.contact__container {
  background-color: #fff;
}

.form__input {
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  width: calc(100%);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  transition: border-color 0.15s linear, box-shadow 0.15s linear;
}

.form__input:focus {
  outline: none; /*!important; */
  border: 1px solid rgb(188, 188, 253);
  box-shadow: 0 0 10px #719ece;
}

::placeholder {
  color: #828588;
}

.form__button {
  display: block;
  width: fit-content;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #cde1f8;
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
  background-color: #0078ff;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  border-radius: 5rem;
}

a.form__button:hover {
  background-color: #005de7;
  color: #fff;
}

.address__text {
  font-size: 1.25rem;
  font-weight: 300;
}

.address__info {
  height: auto;
  list-style: none;
  list-style-type: none;
}

.address__info li {
  line-height: 2;
}

.address__icon {
  color: #0078ff;
}

.social__icon {
  display: inline-block;
  border: 0.25rem solid #0078ff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease;
}

.social__icon i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 500ms ease;
}

.contact__address a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.social__icon:hover {
  color: #fff;
  background-color: #0078ff;
  border-color: #cde1f8;
}

.footer__copyright,
.footer__credits {
  color: #fff;
  font-size: 1rem;
}

/*************************************************************************************************/
/******************************************RWD Section*****************************************/
@media screen and (max-width: 1399.98px) {}

@media screen and (max-width: 1199.98px) {}

@media screen and (max-width: 991.98px) {
  .about__img img {
    width: 80%;
  }
}

@media screen and (max-width: 767.98px) {
  .nav-item > a.active::after {
    width: 7%;
  }

  .nav-item > a:hover::after {
    width: 7%;
  }

  .home__title {
    font-size: 3rem;
    text-align: center;
  }

  .home__desc {
    font-size: 1.5rem;
  }

  .blog__container {
    max-width: 34.375rem;
  }

  .cardInfo__img {
    object-fit: cover;
    width: 30%;
  }

  .card__img > img {
    width: 30px;
    height: 30px;
  }

  #contact {
    height: auto;
  }

  .contactBG__layer {
    padding-block: 4.375rem;
  }

  .review__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .contact__form,
  .contact__address {
    max-width: calc(100% - 30px);
    padding: 0;
    margin: auto;
  }

  .contact__container,
  .about__container {
    max-width: 26.25rem;
    margin: auto;
  }

  .aboutD__list p {
    display: block;
  }

  .col-md-3.aboutD__list {
    width: 70%;
    margin-left: 1.5625rem;
  }

  .about__data {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 425.98px) {
  .contact__form,
  .contact__address {
    max-width: calc(100% - 30px);
    padding-inline: 0.3125rem;
  }

  .contact__container,
  .about__container {
    max-width: 20.625rem;
  }

  .col-md-3.aboutD__list {
    width: 80%;
  }
}

/*************************************************************************************************/
